* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

body {
    height: 100vh;
    background: url('guess-the-number.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    background-color: #141414da;
    padding: 30px;
    border-radius: 10px;
}

.container h1 {
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 20px;
    background:linear-gradient(#FF343A,#55A8FB,#34C56A,#FFFF01,#FE8500,#000000);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container h2 {
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 15px;
}

.container p {
    font-size: 20px;
    font-weight: 400;
}
.container span {
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    color: #EF55F1;
}
.container .input-data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 25px 0;
}

.container .input-data input,
.input-data button {
    height: 50px;
    outline: none;
    padding: 0 20px;
    border-radius: 8px;
    color: black;

}

.input-data input {
    text-align: center;
    font-size: 18px;
    color: black;
    border: 1px solid #aaa;
}

.input-data button {
    color: black;
    border: 1px solid #aaa;
    background-color: #0194FE;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.again-btn{
    color: black;
    outline: none;
    margin: 10px;
    padding: 2px 20px;
    border: 2px solid #aaa;
    background-color: #E6EF00;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}